﻿body, html {
  height: 100%;
}

.bk-image {
  background-image: url("../images/bk-airport.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-repeat:no-repeat;
}

.card { 
  background-color: rgba(245, 245, 245, 0.9); 
}

.price {
  color:blue;
  font-weight: bold;
}